<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >
  <div style="margin-top: 120px">
  <ion-card>
  <ion-item>
    <ion-input type="email"  placeholder="ชื่อผู้ใช้"></ion-input>

  </ion-item>
  <ion-item>
    <ion-input type="email" placeholder="รหัสผ่าน"></ion-input>

  </ion-item>
  <br>
<div text-center>
  <ion-button [routerLink]="['/home']">
    เข้าสู่ระบบ
  </ion-button>
</div>
  <ion-grid>
          <ion-row>
            <ion-col >
              <!-- <span (click)="forget()" class=" pull-left"> -->
              <p >ลืมรหัสผ่าน?</p>
            </ion-col>
            <ion-col>
              <p class="pull-right" [routerLink]="['/register']">สมัครสมาชิก?</p>
            </ion-col>
          </ion-row>
        </ion-grid>
</ion-card>
</div>
  </ion-content>
