<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
  <ion-item>
    <ion-input type="email"  placeholder="ชื่อ">e-mail</ion-input>

  </ion-item>
  <ion-item>
    <ion-input type="email" placeholder="นามสกุล">password</ion-input>

  </ion-item>

  <ion-button [routerLink]="['/home']">
    เข้าสู่ระบบ
  </ion-button>
  <ion-grid>
          <ion-row>
            <ion-col >
              <!-- <span (click)="forget()" class=" pull-left"> -->
              <p >ลืมรหัสผ่าน?</p>
            </ion-col>
            <ion-col>
              <p class="pull-right">สมัครสมาชิก?</p>
            </ion-col>
          </ion-row>
        </ion-grid>
</ion-card>
  </ion-content>
